@import "../../colors.scss";

.container_gallery {
  background-color: $color-page-background;
}

.gallery_filters {
  background-color: #0a1936 !important;
}

.gallery {
  background-color: $color-page-background;
  padding: 20px 0 60px;
  margin-top: 20px;

  &__header {
    background-image: url("../../../public/images/gallery/header.png");
    background-position: center;
    background-size: cover;
    min-height: 376px;
    text-align: center;

    .ui .header {
      font-weight: bold;
      font-size: calc(min(15vw, 7.625rem));
      margin: 0 !important;
      padding-top: 100px;
      text-shadow: 0 8px 10px;
      text-shadow: 0 13px 13px #0a1936;
    }
  }

  &__filters {
    font-size: 1rem;
    padding: 10px !important;

    .ui.input {
      position: static !important;
      width: 100%;
    }

    .column {
      padding: 7px 2px !important;
    }
  }
}

.gallery__filters.ui.grid.seven.doubling:not(.stackable) .column.fullWidth {
  width: 100% !important;
}

.mask {
  border: solid 2px $color-border;

  &__name {
    align-items: center;
    border-top: solid 2px $color-border;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

.gallery__header-mobile {
  min-height: 280px;

  .ui .header {
    padding-top: 80px;
    font-size: 3.8rem;
  }
}

.gallery-mobile {
  .ui .header {
    font-size: 1rem;
  }

  .column {
    padding: 2px !important;
  }

  .mask {
    img {
      width: 16px;
    }

    &__name {
      font-size: 0.6rem;
      padding: 2px 8px;
    }
  }
}
