@import "../../colors.scss";

.number-wrapper {
  position: relative;
}

.number-wrapper .up,
.number-wrapper .down {
  background-color: $color-input-background;
  color: #87d8d6;
  font-size: 1.2rem;
  z-index: 2;
  position: absolute;
  right: 5px;
  height: 20px;
  border: none;
}

.number-wrapper .up {
  top: 2px;
}

.number-wrapper .down {
  bottom: 2px;
}
