@import "../../colors.scss";

.container_wallet {
  background-color: #0a1936;
}

.wallet {
  background-color: #0a1936;
  padding: 50px 0;

  &__header {
    background-image: url("../../../public/images/wallet/header.png");
    background-position: -1px center;
    background-repeat: no-repeat;
    min-height: 258px;
    text-align: center;

    .ui .header {
      padding-top: 85px;
      font-size: 3rem;
      font-weight: bold;
    }
  }

  img.ui.image {
    display: inline;
  }
  
  .ui.container {
    margin: 0 auto;
    max-width: 940px !important;
  }

  .column {
    padding: 3px !important;
  }

  p {
    font-size: 1.12rem;
    line-height: 1.2;
  }

  .mask {
    border: solid 2px $color-border;

    &__name {
      align-items: center;
      border-top: solid 2px $color-border;
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
  }
}

.wallet__header-mobile {
  min-height: 188px;

  .ui .header {
    padding-top: 65px;
    font-size: 1.5rem;
  }
}

.wallet-mobile {
  padding: 28px 0;

  .ui.container {
    margin: 0 15px !important;
  }

  p {
    font-size: 0.9rem;
  }

  .ui.button {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 35px;
  }

  .ui .header {
    font-size: 0.9rem;
    margin: 0;
  }
}
