@import "./colors.scss";

.ui .header {
  color: $color-white;
  padding-bottom: 0.7rem;
}

.ui.container {
  font-size: 14pt;
  max-width: 1024px !important;
}

.ui.menu.fixed {
  height: 75px;
}

.ui.button {
  margin: 30px auto 20px;
  padding: 24px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: $color-white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 7px 3.56px 0.44px #08080b;
  -moz-box-shadow: 0 7px 3.56px 0.44px #08080b;
  box-shadow: 0 7px 3.56px 0.44px #08080b;
}

.ui.menu {
  background-color: $color-body-background;
  border-bottom: solid 1px $color-dark;

  .left.header.item {
    font-size: 1.5rem;
  }

  .item,
  .header.item {
    color: $color-menu-item;
  }

  .item:hover,
  .header.item:hover {
    color: $color-link-orange !important;
  }

  .active.item {
    border-bottom: solid 5px $color-link-orange;
    font-weight: bold;
    padding-bottom: 12px;
  }

  .active.item::after {
    display: none;
  }

  .ui.dropdown {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

    .active.selected.item {
      border: none;
      background-color: $color-link-orange !important;
    }
  }
}

.ui.search,
.ui.selection.dropdown {
  background-color: $color-input-background;
  color: $color-link-orange;
  font-size: 0.85rem;
}

.ui.dropdown .menu > .item {
  font-size: 0.85rem;
}

.ui.search .prompt {
  border-radius: 3px;
}

.ui.icon.input > i.icon {
  color: $color-link-orange;
}

.ui.input > input,
.ui.input > input:focus {
  background-color: $color-input-background;
  color: $color-link-orange;
}

.ui.progress {
  background: #002d5e;
}

.ui.progress .bar {
  background: #87d8d6;
}

.ui.progress .bar > .progress {
  position: static;
  text-align: right;
  line-height: 30px;
  color: #002d5e;
}

a:hover {
  color:$color-link-orange !important;
}

.ui.button.link:hover {
  color:$color-link-orange !important;
}


.ui.modal > .close.icon {
  color: $color-menu-item;
}

.wallet-card {
  .button.link:hover {
    color: $color-link-orange !important;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
