$color-orange: #ffae00;

.cmp {
  padding: 50px 0;

  &__header {
    background-image: url("../../../public/images/cmp/header.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 258px;
    text-align: center;

    .ui .header {
      padding-left: 20%;
      padding-top: 55px;
      font-size: calc(min(7vw, 3rem));
      font-weight: bold;
    }

    p {
      color: #000a2f;
      font-size: calc(min(4vw, 1.5rem));
      font-weight: bold;
      line-height: 1.2;
      margin: 0;
    }
  }

  .ui.header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    line-height: 1.2 !important;
  }

  &__rules {
    margin: 30px 0 !important;

    .ui.header {
      color: $color-orange;
      padding-left: 40px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-list {
      border: solid $color-orange 2px;
      line-height: 1.2;

      li::marker {
        color: $color-orange;
      }
    }
  }

  &__total-count {
    font-size: 5.5rem;
    font-weight: bold;
    padding: 40px 0;
  }
}

.cmp__header-mobile {
  min-height: 228px;
  background-position: 100%;

  .ui .header {
    padding-left: 0;
    padding-top: 25px;
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}

.cmp-mobile {
  padding: 20px 0;

  .ui.header {
    text-align: center;
    font-size: 1.15rem;
  }

  p {
    font-size: 0.8rem;
  }

  .cmp__rules {
    flex-direction: column-reverse !important;
    font-size: 0.9rem;

    img {
      max-height: 210px !important;
    }
  }

  img {
    max-height: 160px;
  }

  .cmp__total-count {
    font-size: 4.5rem;
    padding-top: 20px;
  }
}
