@import "../../colors.scss";

.container_details {
  background-color: $color-page-background;
}

.details {
  background-color: $color-page-background;
  padding: 30px 0 60px;
  word-break: break-all;

  .ui .header {
    color: $color-menu-item;
    font-size: 1.4rem;
    margin: 0;
    padding: 12px 0 20px;
  }

  strong {
    color: $color-link-orange;
  }

  a {
    text-decoration: none;
    color: $color-menu-item;
  }

  p {
    line-height: 1.4rem;
  }

  &__image-wrapper {
    padding-right: 40px;
  }

  &__image {
    border: solid 2px $color-border;
  }

  &__total {
    background-color: #00b8be;
    font-weight: bold;
    color: $color-body-background;

    margin: 25px 0 15px;
    text-align: center;
    padding: 13px;
  }

  &__wrap {
    text-align: center;
    max-width: 530px;
  }

  &__table {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
    max-width: 530px;
    width: 100%;
  }

  &__table td {
    border: solid 2px $color-border;
    padding: 7px 25px;
    width: 50%;
  }
}

.details-mobile {
  padding-top: 5px;

  .details__image-wrapper {
    padding: 0 30px;

    .ui .header {
      font-size: 1.6rem;
      text-align: left !important;
    }
  }

  .ui .header {
    text-align: center;
    font-size: 1.15rem;
  }

  p {
    font-size: 0.85rem;
  }

  .details__table td {
    padding: 7px 10px;
    font-size: 1.1rem;
  }

  .buyAndSell__btn {
    font-size: 0.9rem;
  }
}
